<html>
  <head>
    <title>Question #%(count)s</title>
    <link type="text/css" rel="stylesheet" href="voidspace.css" />
    <link type="text/css" rel="stylesheet" href="style.css" />
  </head>
  <body>
    %(body)s

    <div class="section" id="answer-toggle">
      <h1>View the correct answer</h1>
    </div>

    <div class="section" id="next">
      <h1><a href="%(next)s">Next</a></h1>
    </div>

    <div id="footer">
      Generated on %(now)s by
      <a href="http://github.com/jmcfarlane/pyinterview">Pyinterview</a>
      v%(version)s
    </div>

    <script type="text/javascript" src="jquery-1.4.3.min.js"></script>
    <script type="text/javascript" src="pyinterview.js"></script>
  </body>
</html>
