<html>
  <head>
    <title>Question #%(count)s</title>
    <link type="text/css"
          rel="stylesheet"
          href="http://docutils.sourceforge.net/sandbox/stylesheets/voidspace.css" />
  </head>
  <body>
    %(body)s

    <div align="right" style="margin: 25px">
      <a href="%(next)s" style="font-weight:bold">Next</a>
    </div>

    <div align="center" style="margin-top:25px;">
      Generated on %(now)s by Pyinterview v%(version)s
    </div>
  </body>
</html>
